* {
    margin: 0;
    padding: 0;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

:root {
    --primary_color: rgb(219, 221, 200);
    --secondary_color: rgb(229, 235, 183);  
    --titles_font: "Chakra Petch", sans-serif;
    --texts_font: "Amaranth", sans-serif;
    --header_font: "Outfit", sans-serif;   
}

h1 {
    font-family: var(--titles_font);
    font-size: 55px;
}

h2 {
    font-family: var(--titles_font);
    font-size: 40px;    
}

h4 {
    font-family:"Outfit", sans-serif;
    text-align:center ;
}
    
hr {
    border: 1/2px solid rgb(2, 2, 2);
}

p {
    font-family: var(--texts_font);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 20px;
    background-color: var(--primary_color);
    border-radius: 5px;
}
header nav ul {
    display: flex;
    list-style: none; 
    gap: 10px;   
}

header nav ul a {
    text-decoration: none;
    font-family: var(--header_font);
    font-size: 20px;
}

header nav ul a:hover {
    color: black;
    transform: translateY(-10px);
}

header img:first-child {
    width: 50px; 
    height: 50px;
    margin-left: 10px; 
}

body {
    margin: 10px;
    background-color: var(--secondary_color);
}

section {
    padding: 20px;      
    background-color: var(--primary_color); 
    border-radius: 5px;
}

section h2,h1 {
    text-align: center;
}

.vertical_aligned {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    padding: 10px;  
    width: 100%; 
}

.vertical_aligned p {
    font-family:"Outfit", sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
}



.vertical_aligned_container {
    display: flex;
    align-items: center;
    margin-top: 5vh;
}

#banner img {
    max-height: 300px;
}

#banner div p{
    font-size: x-large;    
    text-align: left;
}

#techniques .card {
    text-align: center;      
    padding: 100px;
    border: 1px solid var(--secondary_color);
    box-shadow: 21px 18px 29px 0px rgba(0,0,0,0.8);
    border-radius: 10px;  
    background-color: var(--secondary_color); 

}

#products .card:hover,
#techniques .card:hover {
    transform:  scale(1.03);
}

#techniques div.container_card{
    display: flex;
    justify-content: space-between;
    margin: 150px;
    
}

#techniques .container_card img {    
    max-width: 200px;
    min-height: 200px;
    
}

#products { 
  text-align: center;
}

#products .container_grid_products {  
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
  padding: 30px;
  margin-top: 10vh;
  
}

#products .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
  border: 1px solid rgb(230, 230, 230);
  box-shadow: 21px 18px 29px 0px rgba(0,0,0,0.8);
  border-radius: 10px;
  transition: 0.3s transform;
  max-height: 495px;
  min-width: 500px; 
  background-color: var(--secondary_color); 
  gap: 20px;
}

#products .card img {    
    margin-bottom: 50px;
    min-height: 250px;
    max-width: 380px;
}

#products .card img {    
    margin-bottom: 50px;
    min-height: 250px;
}



#products button:hover {
    transform: translateY(-2px);
}

#products button {
    align-items: center;
    border: 1px solid black;
    padding: 6px;
    border-radius: 5px;
    background-color: var(--primary_color);
    margin-top: 22px;
    
}

form {
    width: 60%;
    padding: 30px;
    margin: auto;
}

form * {
    display: block;
    width: 100%;
    margin: 5px 0;
    border: none;
    outline: none;
}

form input,
textarea {
  border: 1px solid gray;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0px 6px 5px 7px rgba(0,0,0,0.24);
  font-family: var(--titles_font);
}

#contact {
    height: 60vh;
}

#contact button {    
    border: 1px solid var(--secondary_color);
    border-radius: 5px;
    padding: 5px 10px;
    display: block;
    width: 30%;
    margin: 10px auto;
    box-shadow: 0px 6px 5px 7px rgba(0,0,0,0.24);
    font-family: var(--titles_font);
}

#contact button:hover {
    transform: translateY(-3px);
}

.fixed_image {
    position: fixed;
    bottom: 1%;
    right: 1%;
    width: 100px; 
    height: auto; /* Para mantener la proporción de la imagen */
    z-index: 999; /* Ajusta el valor del z-index según sea necesario */
}

.whatsapp-link {
    cursor: pointer; 
    display: inline-block; 
}

.corner-image {
    position: absolute;
    width: 300px; /* Ajusta el tamaño según sea necesario */
    height: auto; /* Para mantener la proporción */
}

.top-right {
    top: 68%;
    right: 20%;
}

.top {
    top: 70%;   
    right: 8%;
}

.separator {
    width: 0;
    height: 0;
    border-right: 100vw solid transparent;
    border-bottom: 13.9vw solid var(--secondary_color);
    margin-top: -13.9vw;
    

}

.footer_card {
    display: flex;
    align-items: center;

}

.footer_card img {
    max-height: 50px;
}

.footer_card:hover {
    transform: translateY(-3px);
    pointer-events: painted;
}

footer a {
    text-decoration: none;
    color: black;
    font-family: var(--texts_font);

}









